.library__page-container {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  h1 {
    font-size: 35px;
    font-weight: 400;
  }
  hr {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  h2 {
    font-size: 23px;
    margin-bottom: 30px;
  }
}

.library__page-descr-bold {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 300;
}

.library__page-button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-flow: wrap;
}

.library__page-main-title {
  margin-bottom: 30px;
}

.library__page-button-wrapper {
  min-width: 150px;
}

.library__page-button-checked {
  max-width: 500px;
  margin: 0 auto;
}
