.Library__Catalog-Item {
  border: 1px solid black;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.Library__Catalog-Item-Title {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 40px;
}

.Library__Catalog-Item-Descr {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 40px;
}

.Library__Catalog-Item-Author {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 10px;
  padding-top: 10px;
}

.Library__Catalog-Item-Author-Title {
  font-weight: 400;
  text-transform: uppercase;
}
