.Library__Page-Users {
  max-width: 75%;
  margin: 0 auto;
  h1 {
    margin-bottom: 30px;
  }
  p {
    color: #000000;
    margin-top: 10px;
  }
}

.Library__Page-AddUser {
  margin-top: 20px;
  margin-bottom: 40px;
}
