.Error__Wrapper {
  max-width: 70%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.Error {
  margin-top: 350px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 42px;
  margin-bottom: 30px;
  color: #1a1a1a;
}
