.NavBar {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  min-width: 100%;
  background-color: white;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  z-index: 100;
  margin-bottom: 40px;
}
.NavBar__content-center {
  display: flex;
  gap: 50px;
  color: #fff;
  cursor: pointer;
  align-items: center;
}

.NavBar__content {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  height: 60px;
  padding: 0px 20px 0px 20px;
  background-color: #d0d0e5;
  border-bottom: 1px solid lightgray;
  align-items: center;
}

.NavBar__links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  align-items: center;
}
