.table_col {
  font-size: 14px;
  width: 1000px;
  background: white;
  text-align: left;
  border-collapse: collapse;
  color: #ab96e6;
}
.table_col th:first-child,
.table_col td:first-child {
  color: #ab96e6;
  border-left: none;
}
.table_col th {
  font-weight: normal;
  width: 200px;
  border-bottom: 2px solid #ab96e6;
  border-right: 20px solid white;
  border-left: 20px solid white;
  padding: 8px 10px;
}
.table_col td {
  border-right: 20px solid white;
  border-left: 20px solid white;
  padding: 12px 10px;
  color: #ab96e6;
}

.table {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
