.library__catalog-container {
  max-width: 70%;
  margin: 0 auto;
}

.library__catalog-title {
  text-align: center;
  font-weight: 400;
  font-size: 42px;
  margin-bottom: 30px;
  color: #1a1a1a;
}

.library__catalog-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
