.NavBar__content-leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 30px;
}

.NavBar__Content-LeftSide-Title {
  text-decoration: none;
}

.NavBar-logo {
  color: #fff;
  height: fit-content;
  font-size: 24px;
  cursor: pointer;
}

.NavBar__content-center {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  // margin-right: 70px;
}
