.Input__Container {
  text-align: center;
  padding: 20px;
}

.Input {
  width: 78%;
  height: 40px;
  border-radius: 10px;
}
.Inputbox {
  width: 78%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  padding: 20px;
  width: 320px;
  border: 2px solid #ddd6ec;
}
