.input__container {
  text-align: center;
  padding: 20px;
}

.input {
  height: 40px;
  border-radius: 10px;
}

.isWidth {
  min-width: 100%;
}

//Outline
.none {
  outline: none;
}

//Border

.b-purple-2 {
  border: 2px solid #babad3;
}

.b-red-2 {
  border: 2px solid #d196a1;
}
