.Input__Container {
  text-align: center;
  padding: 20px;
}

.Input {
  height: 40px;
  border-radius: 10px;
  padding: 20px;
}

.isWidth {
  width: 100%;
}

//Border-radius
.r-1 {
  border-radius: 10px;
}

.r-2 {
  border-radius: 15px;
}

//Outline
.none {
  outline: none;
}

.invert {
  outline: invert;
}

//Border

.b-purple-1 {
  border: 1px solid #babad3;
}

.b-purple-2 {
  border: 2px solid #babad3;
}

.b-red-1 {
  border: 1px solid #d196a1;
}

.b-red-2 {
  border: 2px solid #d196a1;
}
