.static__container {
  max-width: 75%;
  margin: 0 auto;
  text-align: start;
  font-weight: 300;
  h1 {
    text-align: center;
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 30px;
    color: #1a1a1a;
  }
  hr {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.removed__static {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
